<h1>Welcome to the home page</h1>
<p>You will find a lot of books to buy</p>

<h2>Lista de libros disponbiles</h2>
<ul>
    <li>
        <a href="/api/product">products</a>
        <a href="/api/cart">cart</a>
    </li>
</ul>


<h2>Lista de Libros Disponibles</h2>
{{#if info.payload}}
{{#each info.payload}}
<div class="producto">
    <h3>{{this.name}}</h3>
    <p><strong>Descripción:</strong> {{this.description}}</p>
    <p><strong>Autor:</strong> {{this.author}}</p>
    <p><strong>Precio:</strong> ${{this.price}}</p>
    <p><strong>Cantidad:</strong> {{this.quantity}}</p>
    <p><strong>Best Seller:</strong> {{#if this.bestSeller}}Sí{{else}}No{{/if}}</p>
</div>
{{/each}}
{{else}}
<p>No hay productos disponibles.</p>
{{/if}}

<footer>
    <div class="paginacion">
        <p>Página {{info.page}} de {{info.totalPages}}</p>
        {{#if info.linkPreviousPage}}
        <a href="{{info.linkPreviousPage}}">Anterior</a>
        {{/if}}
        {{#if info.linkNextPage}}
        <a href="{{info.linkNextPage}}">Siguiente</a>
        {{/if}}
    </div>
</footer>